h2 {
  text-align: center;
}
.product-item {
  padding: 5px 5px;
  text-align: left;
  background-color: #fff;
}

.selected {
  background-color: #da2;
}
.item-container {
  width: 75%;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  background-color: #afafaf33;
}

.input {
  padding: 2px 2px;
  margin: 10px 0px;
}

.inputs {
  display: flex;
  width: 75%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #9f9f3f33;
  padding: 20px 20px;
}
