<section class="item-container">
  <h2>Product List</h2>
  <ul
    class="product-item"
    *ngFor="let product of products"
    (click)="selectProduct(product)"
  >
    &nbsp;ID:
    {{
      product.id
    }}
    &nbsp;&nbsp; Name:
    {{
      product.name
    }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; edit
  </ul>
</section>

<div *ngIf="selectedProduct">
  {{ selectedProduct.id }}
</div>
<div class="create-container">
  <input
    type="text"
    (keyup.enter)="createProduct(productName.value)"
    [formControl]="productName"
  />
</div>
{{ productName.value }}
