<section class="item-container">
  <h2>Product List</h2>
  <ul
    class="product-item"
    *ngFor="let product of products"
    (click)="selectProduct(product)"
    [class.selected]="selectedProduct === product"
  >
    &nbsp;ID:
    {{
      product.id
    }}
    &nbsp;&nbsp; Name:
    {{
      product.name
    }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;
    <span
      *ngIf="selectedProduct === product"
      (click)="deleteProduct(selectedProduct.id)"
      >🗑</span
    >
  </ul>
</section>

<section class="inputs">
  <div class="input">
    <label>create: &nbsp;</label>
    <input
      type="text"
      (keyup.enter)="createProduct(productName.value)"
      [formControl]="productName"
    />
  </div>
  <div *ngIf="selectedProduct" class="input">
    <label>update: &nbsp;</label>
    <input
      type="text"
      (keyup.enter)="updateProduct(productName.value)"
      [(ngModel)]="selectedProduct.name"
    />
  </div>
</section>
